.controls
  %ul#prior
    - @prior_photos.each_with_index do |p, i|
      %li= photo_link(p, :rel => ("prev" if i.zero?))
  %ul#subsequent
    - @subsequent_photos.each_with_index do |p, i|
      %li= photo_link(p, :rel => ("next" if i.zero?))

.centered
  %p
    = photo_image(@photo, :snap)
    = link_to("full-size", photo_image_path(@photo, :max))
  - form_for(@photo) do |f| 
    = f.text_field :description, :cols => 40, :rows => 2
    